table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.mat-column-tags span{
  border: 1px solid #39A3E9;
  /* border-radius: 50px; */
  color: white;
  background-color: #39A3E9;
  padding-left: 6px;
  padding-right: 6px;
  margin-top: 10px;
  margin-right: 4px;
}

.W-100{
  width: 100%;
}
